*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: aqua;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background-color: black;
    min-height: 100vh;
}
.countainor{
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}




